<div class="cb-col-3">
  <div class="collection-wrap">
    <a href="{{ collection.url }}">
      <div class="collection-img">
        <img src="{{ collection.image | image_url }}" alt="{{collection.title}}">
      </div>
      <h2>{{ collection.title }}</h2>
      <p>Shop Now</p>
    </a>
  </div>
</div>