<section class="cb-about-us">
  <div class="cb-container">
    <h1 class="cb-heading-ar">{{ page.title }}</h1>
    <p>{{ page.content }}</p>
  </div>
</section>
<section class="about-content">
  <div class="cb-container">
    {% section 'about-section' %}
  </div>
</section>
{% section 'family-favourite' %}